.gridLayout{
    width: 90%;
   
    max-width: 1224px;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 2rem;

    p{
        line-height: 30px;
        --text-opacity: 1;
        color: rgb(119 128 161/var(--text-opacity));
        padding-bottom: 2rem ;
    }

    .noticias{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 11rem 11rem 11rem 11rem;
        grid-gap: 1rem;

        .layout{
            padding: 1rem;
            position: relative;
            background-color: #ECECF4;
            border-radius: 4px;

           
           .img_publi{
                border-radius: 4px;
                width: 20rem;
                height: 100%;
                background-color: #ffff;
            }

            
           .img_publi_novidade{
                border-radius: 4px;
                width: 10rem;
                height: 100%;
                background-color: #ffff;
               
            }

            .img_publi_antigas{
                border-radius: 4px;
                width: 8rem;
                height: 100%;
                background-color: #ffff;
            }
        }

        .box{
            
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 1rem;
        }

        .box1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        .box2{
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;
        }

        .box3{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 4;
        }

        .box4{
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 4;
        }

        .box5{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .box6{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
        }
    }
}