@import "../../style/variavel.scss";

footer{
    background: $background-white;

    .displayFooter{
        border-top: 2px solid $border-sobre;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        span{
            padding: 1.6rem 0;
            font-size: 16px;
            line-height: 40px;
            color: $text-opacity;
            text-align: center;

            .colorTextFooter{
                color: $color-destaque;
            }
        }
    }
}