@import "../../style/variavel.scss";

.SobreText {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 350px;

    details{
        list-style-type: none;
        svg{
            fill: $color-destaque;
        }
        summary{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 38px 0;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
            border-bottom: 2px solid $border-sobre;
            cursor: pointer;             
        }

        .textP{
            margin-top: 1rem;
            font-size: .95rem;
            line-height: 40px;
            color: $text-opacity;
        }
    }
}