@import "../../style/variavel.scss";

.containerStack {
    max-width: 2000px;
    margin-top: 2rem;   
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;

    .tech {
        display: flex;
        padding: 1rem 1rem;
        align-items: center;
        justify-content: center;
        background: $background-white;
        border: 2px solid $borders-black;
        border-radius: 8px;
        transition: 400ms;
        z-index: 90;
        height: 100px;

        .backgroundSvg{
            fill: $border-white;
        }

        svg{
            fill: $color-destaque;
            width: 70px;
            height: 70px;
            transition: 400ms;
        }

        &:hover {
            box-shadow: 4px 4px 0px #131313;
            transform: translateY(5px);

            svg{
                    transform: scale(1.05);
            }
        }

        &:hover::after {
            position: absolute;
            content: attr(data-name);
            background: $color-destaque;
            padding: .3rem;
            color: $color-texto-white;
            font-size: 14px;
            border-radius: 4px;
            animation: skills 800ms ease-in-out forwards;
            transform: translateY(40px);
            z-index: 99;
        }
    }
}

@keyframes skills {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(82px);
    }
}
