@import "../../style/variavel.scss";

.menuNav {
    cursor: pointer;
    background: none;
    border: none;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: column;

    .line {
        position: relative;
        width: 32px;
        height: 4px;
        background: $line-navbar;
        transition: all 400ms ease-in-out;
    }

    &.active {
        .line:nth-child(1) {
            transform: translateY(8px) rotate(-45deg);
        }

        .line:nth-child(2) {
            transform: translateY(-8px) rotate(45deg);
            top: -3px;
        }
    }
}
