$backgound-home: #000000;
$backgound-section: #ffffff;
$backgound-section-secundaria: #ECECF4;

$color-destaque: #7C50FF;
$color-cursor: #7c50ffe3;
$color-texto: #041733;
$line-navbar: #041733;
$color-texto-white: #f8f8f8;
$color-descricao: #DBCECE;

$border-white: #ffffff;
$borders-black: #000000;
$border-input: #ced4da;
$border-sobre: rgba(236, 236, 244, 0.8784313725);

$background-black: #000000;
$background-white: #ffffff;

$text-opacity: rgb(119 128 161);

$svg-color-black: #000000;
$svg-color-white: #ffffff;

$carosel-bkg: #b1f2e5d3;

$mensagem: #08c46caf;

$cursorSize: 40px;