@import "../../style/variavel.scss";

.idioma {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0.1rem 0.4rem 0 0.4rem;

    border: 2px solid $borders-black;
    transition: 0.4s;
    border-radius: 8px;
}
